{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <p> Bonjour </p>
        
        <p>Voici le récapitulatif de votre demande d'emprunt :
        <strong>Véhicule louée</strong>: <br/>
        <strong>Raison de l'emprunt</strong>: </br>
        <strong>Date de début de location</strong>: </br>
        <strong>Date de fin de location</strong>: </br></p>
    </body>
</html>